body{ background-color: #a3a9dd; text-align: center; }
div{ background-color: #5688aac3; padding: 60px;}
#p1{ font-size: 85px; font-weight: bold; color:#c397e7;}
#p2{ font-size: 85px; font-weight: bold; color:#dfb7eb;}
h1{color: #ffffff; font-size: 100px;}